<launch> 
  <rosparam command="load" file="$(find armrob_util)/src/robot_arm_info.yaml" />

  <arg name="model" default="$(find armrob_util)/src/urdf/robot-arm-pen.urdf" />
  <arg name="gui" default="true" />
  <arg name="rvizconfig" default="$(find armrob_util)/src/urdf/urdf.rviz" />

  <param name="robot_description" command="xacro --inorder $(arg model)" />
  <param name="use_gui" value="$(arg gui)"/>


  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="true" />
  <node name="draw_pen_rviz" pkg="armrob" type="draw_pen_rviz.py" />

  
  <!-- Option: Use "joint_state_publisher" to publish desired angles (e.g. if the arm is calibrated). -->
  <!--<node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" >-->
    <!-- Normally it publishes a joint state directly, but we want it to publish desired angles instead. -->
    <!--<remap from="/joint_states" to="/joint_angles_desired" />-->
  <!--</node>-->
  
  <!-- Option: Use "manual_servo_us_sliders" to publish servo commands (e.g. if the arm is uncalibrated). -->
  <node pkg="armrob" name="manual_servo_us_sliders" type="manual_servo_us_sliders.py"/>
  
  <!-- Utility node to convert angles to microsecond commands and send them to the arm. -->
  <node pkg="armrob" name="command_arm" type="command_arm.py"/>


  <!-- Add a camera viewer node, to display the view from a web cam. This node will crash if there's no camera; that's okay. -->
  <group ns="robot_display">
    <node pkg="armrob" name="cam_viewer" type="cam_viewer.py"/>
  </group>
  
</launch>
